// Override this file to add your own SCSS styling.

$text-primary-color: #ff3860;






.home-section {
  background: #f7f7f7;
}
.home-section:nth-of-type(even) {
  background: #fff;
}



//.wg-hero {
//  .home-section-bg {
//    background-image: linear-gradient(90deg, #004ba0, #1976d2);
//  }
//  .hero-title, .hero-lead {
//    color: white;
//  }
//}





.wg-about{

  ul.ul-edu li .description p.institution {
    font-size: 0.75rem;
    //color: $text-primary-color;
    color: #000000;
  }
  .edu-details {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.6);
  }
}

#research {
  .research-list-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;

    .card-simple:first-of-type {
      margin-top: 20px !important;
    }
  }

  .section-heading h1 {
    margin: 20px 0 10px 0;
  }
}




.pub-list-item {
  .pub-jan  {
    font-style: italic;
    font-weight: bold;
    font-family: "Times New Roman";
  }
  .pub-year {
    font-weight: bold;
  }
}


.experience-icon-image {
  width: 80px;
  max-height: 80px;
  max-width: unset;
}

.home-prj-img-icon-wrap {
  /*display: grid;
  place-items: center;*/

  .home-project-icon-image {
    /*max-width: 150px !important;*/
    margin-top: 0.5rem;

  }
}



.home-pubs-section {
  .pub-title {
    font-weight: bold;
  }
}


/*电脑端展示*/
@media (min-width: 780px) {
  .only-display-on-cellphone {
    display: none;
  }
  .only-display-on-pc {
    display: block;
  }
  .left-and-right-2-columns {
    max-width: 1350px;
    margin: 0 auto;
    padding-top: 1rem;
    .left-sidebar-part {
      position: fixed;
      width: 250px;
      // height: 100vh;
    }

    .right-content-part {
      margin-left: 250px;
      overflow-y: auto;
      padding-left: 3rem;


      .home-section {
        padding: 6rem 1rem;
        .container {
          .section-heading.text-center {
            text-align: left !important;
          }
        }

      }


    }
  }



  #about.home-section {
    padding: 2rem 0 0 0;
  }
  #hero.home-section {
    background-color: unset;
    padding: 2rem 0 0 0;

    .hero-welcome-banner {
      background-image: linear-gradient(90deg, #004ba0, #1976d2);
      padding: 3rem;
    }

    .home-section-bg {
      background-image: none;
    }
    .hero-title, .hero-lead {
      color: white;
    }
  }
}



// 手机
@media (max-width: 780px) {

  .only-display-on-cellphone {
    display: block;
  }
  .only-display-on-pc {
    display: none; width: 0;
  }



  .wg-hero {
    .home-section-bg {
      background-image: linear-gradient(90deg, #004ba0, #1976d2);
    }
    .hero-title, .hero-lead {
      color: white;
    }
  }
  .research-list-wrap {
    grid-template-columns: 1fr !important;
  }

}
